body {
	float:left;
	background-color:tan;
	background-image: url("./images/Sunrise.jpg");
}

/*-------------------------------------------------------------------------------------------------
Class and Id properties
-------------------------------------------------------------------------------------------------*/

.navbar {
	margin:20px;
	padding:10px;
	width:96%;
	height:65px;
	border:1px solid black;
	float:left;
	background-color:#CCFFCC;
	text-align: center;
	font-size:x-large;
}

.nav-btn {
	margin:30px;
}
.welcome {
	margin:20px;
	padding:10px;
	width:96%;
	height:65px;
	border:1px solid black;
	float:left;
	background-color:red;
	color:white;
	font-color:white;
	border-color: black;
	border-radius: 5px;
}

.hideme {
	display:none
}

.quizpage {
	margin:20px;
	padding:20px;
	width:96%;
	height:420px;
	float:left;
	border-color: black;
	border-radius: 5px;
}

.instructions {
	margin:20px;
	padding:20px;
	text-align:center;
	width:80%;
	border-color: black;
	border-radius: 5px;
}

.status {
	margin:20px;
	padding:20px;
	width:91%;
	height:70px;
	border:1px solid black;
	float:left;
	background-color:lightgrey;
	color:black;
	font-color:white;
	border-color: black;
	border-radius: 5px;
}
/*-------------------------------------------------------------------------------------------------
Layout
-------------------------------------------------------------------------------------------------*/

/* Left column */
#questions {
    width:40%;
    min-width: 350px;
    height:180px;
    text-align: center;
    margin:20px;
    margin-left:60px;
    padding:10px,10px,10px,10px;
    border:1px solid black;
	float:left;
	background-color:lightblue;
	border-color: black;
	border-radius: 5px;
}

/* Right column */
#answers {
    width:40%;
    min-width: 350px;
    height:180px;
    margin:20px;
    padding:10px,10px,10px,10px;
    border:1px solid black;
	float:left;
	background-color:pink;
	border-color: black;
	border-radius: 5px;
}

#answer, #answer1,#answer2,#answer3,#answer4 {
    text-align:right;
	margin-right:30%;
}

.Qh2 {
	text-align:right;
	margin-right:35%;
}

h1,h2, h3 {
	text-align: center;
}

/*-------------------------------------------------------------------------------------------------
Buttons
-------------------------------------------------------------------------------------------------*/
input[type=button] {
  background-color: #96CA6D;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
  background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: linear-gradient(top, #7fbf4d, #63a62f);
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  color: white;
  font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  padding: 6px 0 6px 0;
  position:relative;
  top:-1px;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  width: 50px;
}

